@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-name{
    color: white;
    margin-left: 25px;
    text-align: left;
}

ul{
    list-style-type: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: white;
    padding: 12px;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #0a192f;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    position: relative;
    left: -20px;
}

.nav-menu li a{
    color: white;
    text-decoration: none;
}

.about-me{
    text-align: center;
}

.about-me h1{
    color: #0a192f;
    text-shadow: 0 4px 10px rgba(17, 230, 17, 0.1);
}

.about-me h2{
    color: #0a192f;
}

.about-me #changing-text{
    color: #64ffda;
    text-shadow: 2px 2px 8px rgba(0, 255, 255, 0.6), 0 0 15px rgba(0, 255, 255, 0.4);
    font-weight: bold;
}

.My-Skills{
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 10px;
}

.My-Skills span{
    color: #0a192f;
    font-size: 21px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

#my-projects{
    max-width: 1100px;
    margin: 0 auto;
}

#my-projects h3{
    text-align: center;
    font-size: 21px;
    color: #0a192f;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

#my-projects p{
    font-size: 16px;
}

.project-lists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-cards{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border-radius: 10x;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    height: 100%;
    border: 1px solid #ddd;
}

.project-cards p{
    font-size: 18px;
    flex-grow: 1;
}

.project-links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: auto;
}

.project-links a{
    border: 2px solid #64ffda;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #0a192f;
    font-size: 16px;
    transition: 0.2s;
}

.project-links a:hover{
    background: #64ffda;
    color: #0a192f;
}

footer{
    background: #0a192f;
    color: #fff;
    text-align: center;
    padding: 40px 20px 20px;
    margin-top: 50px;
}

.My-contacts h4{
    color: #fff;
    margin-bottom: 5px;
}

.My-contacts p{
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    color:  #8892b0;
    text-align: center;
}

.social-links{
    margin: 20px;
}

.social-links a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid #64ffda;
    padding: 6px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.social-links a:hover{
    background: #64ffda;
    color: #0a192f;
}

.copyright{
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    body{
        padding: 15px;
    }

    h1{
        font-size: 28px;
        text-align: center;
        font-family: serif;
    }

    h2{
        font-size: 18px;
        text-align: center;
        font-family: sans-serif;
    }

    p{
        font-size: 16px;
        text-align: center;
    }

    #changing-text{
        color: #64ffda;
        border-right: 2px solid #64ffda;
        padding-right: 5px;
        transition: all 0.3s ease;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-menu a{
        text-decoration: none;
    }

    .bars{
        display: block;
        padding: 12px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        background: #0a192f;
        width: 60%;
        height: auto;
        border-radius: 0 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        transition: 0.3s;
    }

    .nav-menu li a{
        list-style-type: none;
        color: white;
        font-size: 18px;
        text-decoration: none;
    }

    .nav-menu.active{
        left: 0;
    }

    .about-me h2 span{
    color: #0a192f;
    }

    .about-me h1{
        text-align: center;
        padding: 0 15px;
    }

    .My-Skills{
        width: 90%;
        max-width: 100%;
        margin: 15px auto;
        text-align: left;
        font-size: 16px;
        line-height: 1.7;
        padding: 0 10px;
        box-sizing: border-box;
        word-wrap: break-word;
        font-family: Montserrat;
        line-height: 1.4;
    }

    .My-Skills span{
        color: #0a192f;
        font-weight: bold;
        font-family: "Lato", sans-serif;
        font-style: normal;
    }

    .My-Skills a{
        text-decoration: underline;
        color: #0a192f;
    }

    #my-projects h3{
        text-align: center;
    }

    #my-projects p {
        width: 90%;
        max-width: 100%;
        margin: 15px auto;
        text-align: left;
        font-size: 16px;
        line-height: 1.7;
        padding: 0 10px;
        box-sizing: border-box;
        word-wrap: break-word;
        font-family: Montserrat;
        line-height: 1.4;
    }

    .project-lists{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
      width: 90%;
      max-width: 1100px;
      margin: 20px auto;  
    }

    .project-cards{
        background: #dfdbdb;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(17, 230, 17, 0.1);
        text-align: left;
    }

    .project-cards h4{
        margin-bottom: 8px;
        color: #0a192f;
        font-weight: bold;
        font-family: "Lato", sans-serif;
        font-style: normal;
    }

    .project-cards a{
        margin-right: 15px;
        color: #0a192f;
        text-decoration: none;
        font-size: bold;
        cursor: pointer;
        transition: 0.1s;
    }

    .project-cards a:hover{
        text-decoration: underline #0a192f;
    }

    .social-links a{
        display: grid;
        margin: 15px;
    }
}
